BasedOnStyle: Microsoft
ColumnLimit: 80
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
